:root {


    // TOGGLE THEME 1 -------------------------

    // background

    --mainBackground: hsl(222, 26%, 31%); 
    --toggleBackground: hsl(223, 31%, 20%); 
    --screenBackground: hsl(224, 36%, 15%); 


    // Keys

    --keyBackgroundTheme1: hsl(225, 21%, 49%); 
    --keyShadowTheme1: hsl(224, 28%, 35%); 

    --keyBackgroundToggleTheme1: hsl(6, 63%, 50%); 
    --keyShadowTheme1Red: hsl(6, 70%, 34%);   

    --keyBackgroundTheme1Grey: hsl(30, 25%, 89%); 
    --keyShadowTheme1Grey: hsl(28, 16%, 65%);    

    // text 

    --textColorDarkTheme1: hsl(221, 14%, 31%);
    --textWhite: hsl(0, 0, 100%);





    // TOGGLE THEME 2

    // background

    --mainBackgroundTheme2: hsl(0, 0%, 90%);
    --toggleBackgroundTheme2: hsl(0, 5%, 81%);
    --screenBackgroundTheme2: hsl(0, 0%, 93%);

    // Keys

    --keyBackgroundTheme2: hsl(185, 42%, 37%);
    --keyShadowTheme2: hsl(185, 58%, 25%);

    --keyBackgroundToggleTheme2: hsl(25, 98%, 40%);
    --keyShadowTheme2Dark: hsl(25, 99%, 27%);

    --keyBackgroundTheme2Grey: hsl(45, 7%, 89%);
    --keyShadowTheme2Grey: hsl(35, 11%, 61%);

    // Text

    --textColorDarkTheme2: hsl(60, 10%, 19%);





    // TOGGLE Theme 3

    // Background 

    --mainBackgroundTheme3: hsl(268, 75%, 9%);
    --toggleBackgroundTheme3: hsl(268, 71%, 12%);

    //Keys

    --keyBackgroundTheme3: hsl(281, 89%, 26%);
    --keyShadowTheme3: hsl(285, 91%, 52%);

    --keyBackgroundToggleTheme3: hsl(176, 100%, 44%);
    --keyShadowTheme3Cyan: hsl(177, 92%, 70%);

    --keyBackgroundTheme3Violet: hsl(268, 47, 21%);
    --keyShadowTheme3Violet: hsl(290, 70%, 36%);


    // Text 

    --yellowTheme3: hsl(52, 100%, 62%);
    --blueTheme3: hsl(198, 20%, 13%);
    






}