:root.theme3 {



    // Background 

    --mainBackground: hsl(268, 75%, 9%);
    --toggleBackground: hsl(268, 71%, 12%);

    //Keys

    --keyBackground: hsl(281, 89%, 26%);
    --keyShadow: hsl(285, 91%, 52%);

    --keyBackgroundToggle: hsl(176, 100%, 44%);
    --keyShadow1: hsl(177, 92%, 70%);

    --keyBackground2: hsl(268, 47, 21%);
    --keyShadow2: hsl(290, 70%, 36%);


    // Text 

    --textDark: hsl(52, 100%, 62%);
    --textBlue: hsl(198, 20%, 13%);
    --textlight: hsl(0, 0, 100%);

}