:root.theme3 {



    // Background 

    --mainBackground: #160628;
    --toggleBackground: #1d0934;
    --screenBackground: #1d0934;

    //Keys

    --keyBackground: #58077d;
    --keyShadow: #bc15f4;

    --keyBackgroundToggle: hsl(176, 100%, 44%);
     --keyShadow1: hsl(177, 92%, 70%);

    --keyBackground2: #341c4f;
    --keyShadow2: #871c9c;


    // Text 

    --textDark: hsl(52, 100%, 62%);
    --textHead: hsl(52, 100%, 62%);
    --textBlue: hsl(198, 20%, 13%);
    --textlight: rgb(255, 255, 255);
    --textEqual: #1d0934;



    
     // hover color 

     --equalHover: #93FFF8;
     --resetHover:#8631AF;
     --keyHover: #6C34AC;


}