@use '../unil/' as *;

 .button {

    min-width: rem(101);
    height: rem(64);
    font-size: rem(32);
    font-weight: 700;
    border-radius: rem(10);
    letter-spacing: rem(2);
    border: none;
    font-family: var(--font-spartan);
    padding-bottom: rem(5);
    cursor: pointer;
    @include transition;

}

.button__reset {

    grid-column-start: -5;
    grid-column-end: -3;
    grid-row-start: 5;
    grid-row-end: 6;
    
}

.button__equal {

    grid-column-start: -3;
    grid-column-end: -1;
    grid-row-start: 5;
    grid-row-end: -1;

}

.button__del {

    font-size: rem(20);
}

.button--size {

    min-width: rem(227);
    font-size: rem(20);
}
