
@use '../unil' as *;


fieldset {
    position: relative;
    display: flex;
    justify-content: space-around; 
    width: rem(71);    //11
    border:0;
    text-align: center;
    padding: 0;


    legend {
        display: inline-block;
        right: 4.6rem;
        top: 2.8rem;
        position: relative;
        font-size: rem(12);
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: rem(1);
    }

    label {

        display: inline-block;
        position: relative;
        width: 1rem;
        padding-bottom: 2rem;
        z-index: 2;
        cursor: pointer;
        font-size: rem(12);
        font-weight: bold;
    }

    label:first-of-type {

        z-index: 1;
    }

    div {

        width: rem(71);
    }

    input {

        position: absolute;
        top: 0;
        height: 100%;
        width: 33%; // 33%
        appearance: none;
        background: none;
        opacity: 0.000001;
    }




    // Toggle background

    label:first-of-type::before {

        content: "";
        position: absolute;
        width: rem(71);
        height: rem(26);
        bottom: 0;
        left: -0.5rem;
        border-radius: 0.95rem;
    }

    // toggle knop

    label:last-of-type::after {

        content: '';
        position: absolute;
        height: rem(16);
        width: rem(16);
        border-radius: 50%;
        bottom: rem(5);
        right: rem(15);
        transition: transform 0.3s ease;
    }

    
    input:first-of-type:checked ~ div > label:last-of-type::after {
        transform: translateX(-1.6rem);
    }
    
    input:nth-of-type(2):checked ~ div > label:last-of-type::after {
        transform: translateX(-0.4rem);
    }
    
    input:last-of-type:checked ~ div > label:last-of-type::after {
        transform: translateX(0.8rem);
    }



}