
@use '../unil' as *;


fieldset {
    position: relative;
    display: flex;
    justify-content: space-around; 
    width: 11rem;
   /*  padding: 0 1rem 1rem; */
    border:0;
    text-align: center;


    legend {
        display: inline-block;
        right: 4.6rem;
        top: 2.8rem;
        position: relative;
        font-size: rem(12);
        font-weight: bold;
        text-transform: uppercase;
    }

    label {

        display: inline-block;
        position: relative;
        width: 1rem;
        padding-bottom: 2rem;
        z-index: 2;
        cursor: pointer;
        font-size: rem(12);
        font-weight: bold;
    }

    label:first-of-type {

        z-index: 1;
    }

    div {

        
    }

    input {

        position: absolute;
        top: 0;
        height: 100%;
        width: 33%; // 33%
        appearance: none;
        background: none;
        opacity: 0.000001;
    }


    // Focus styles

    input:focus + label {

        text-decoration: underline;
    }




    // Toggle background

    label:first-of-type::before {

        content: "";
        position: absolute;
        width: rem(71);
       /*  width: 8rem; */
        /* height: 2rem; */
        height: rem(26);
        bottom: 0;
        left: 0.5rem;
        background-color: #232d44;
        border-radius: 0.95rem;
    }

    // toggle knop

    label:last-of-type::after {

        content: '';
        position: absolute;
        /* height: 1.5rem;
        width: 1.5rem; */
        height: rem(16);
        width: rem(16);
        background-color: #f96b5b;
        border-radius: 50%;
        bottom: 0.25rem;
        right: 0.75rem;
        transition: transform 0.3s ease;
    }

    
    input:first-of-type:checked ~ div > label:last-of-type::after {
        transform: translateX(-6rem);
    }
    
    input:nth-of-type(2):checked ~ div > label:last-of-type::after {
        transform: translateX(-3rem);
    }
    
    input:last-of-type:checked ~ div > label:last-of-type::after {
        transform: translateX(0);
    }



}